doctype html
html 
        head 
            title ="Register"
        body 
            h1 Register Employee 
            form(method="post")
                input(type="text" name="name" placeholder="Enter your name")
                br
                br
                input(type="email" name="email" placeholder="Enter your Email")
                br
                br
                input(type="number" name="mobile" placeholder="Enter your moblie")
                br
                br
                input(type="password" name="password" placeholder="Enter password")
                input(type="submit" value="Register")

